<div class="col-md-8">
    <div class="p-1">
        <h1>Flowers</h1>
    </div>
        <img src="img/{{flower}}.jpg" alt={{flower}} width="500" height="500">
    <div class="p-2">
        <div>{{flower}}</div>
    </div>
</div>