<main class="form-signin">
    <h1>
        WEB322 Dan Wang's Gallery
        <small class="text-muted">Assignment 2</small>
    </h1>
    <h2>
        Account Registration
    </h2>
    <form method="post" action="/signup">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" name="userName" id="inputEmail">

        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword">
        </div>
        <div class="mb-3">
            <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control"  name="confirmPassword" id="inputConfirmPassword">
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
    <div>{{data}}</div>

</main>